- var generatorShare = entry.artwork.generatorShare.substring(1); // Remove dummy underscore
- var shareInEur = (entry.orderQuantity * entry.generatorShare).toFixed(2);

| Hallo #{entry.artwork.author},
|
| herzlichen Glückwünsch, Ihr Kunstwerk wurde über den Kulturgenerator verkauft.
|
| #{entry.orderQuantity} x #{entry.artwork.author}: #{entry.artwork.title}
|
| Die Käuferin bzw. der Käufer freut sich schon, mit Ihnen in Kontakt zu treten um die weiteren Vorgehensweise z.B. die Übergabe des Angebots zu besprechen. Bitte beachten Sie, dass keine automatische Transaktion des Angebots über den Kulturgenerator stattfindet und demnach die Käuferin bzw. der Käufer auf Ihre Kontaktaufnahme wartet.
|
| #{entry.buyerFullname}
| #{entry.buyerStreet}
| #{entry.buyerZipCode} #{entry.buyerCity}
| #{entry.buyerEmail}
|
| Bei der Einreichung Ihres Angebots haben Sie sich bereit erklärt #{generatorShare}% des Brutto-Verkaufspreises solidarisch zu verteilen. Wir bitten daher um Überweisung des entsprechenden Betrages von #{shareInEur}€ auf das PayPal-Konto des Kulturgenerators:
|
| https://www.paypal.me/kulturgenerator/#{shareInEur}
|
| Etwaige Gebühren, die von Seiten PayPals anfallen können wurden bei der Berechnung des Betrags berücksichtigt.
|
| Danke fürs Mitmachen, Teilen und Unterstützen.
|
| Freundliche Grüße
| Ihr Team des Kulturgenerators
