- var generatorShare = entry.artwork.generatorShare.substring(1); // Remove dummy underscore
- var shareInEur = ((entry.orderQuantity * entry.artwork.price) * (generatorShare/100)).toFixed(2);

| Hallo #{entry.artwork.author},
|
| herzlichen Glückwünsch, Ihr Kunstwerk wurde über den Kulturgenerator verkauft.
|
| #{entry.orderQuantity} x #{entry.artwork.author}: #{entry.artwork.title}
|
| Bitte nehmen Sie Kontakt zur Käuferin bzw. zum Käufer auf und besprechen Sie die Übergabe des Werkes.
|
| #{entry.buyerFullname}
| #{entry.buyerStreet}
| #{entry.buyerZipCode} #{entry.buyerCity}
| #{entry.buyerEmail}
|
| Um #{generatorShare}% des Brutto-Verkaufspreises solidarisch zu verteilen überweisen Sie bitte den Betrag von #{shareInEur}€ auf das PayPal-Konto des Kulturgenerators:
|
| https://www.paypal.me/kulturgenerator/#{shareInEur}
|
| Vielen Dank und freundliche Grüße
| Ihr Team des Kulturgenerators