| Hallo #{entry.artwork.author},
|
| herzlichen Glückwünsch, Ihr Kunstwerk wurde über den Kulturgenerator verkauft:
|
| #{entry.orderQuantity} x #{entry.artwork.author}: #{entry.artwork.title}
|
| Bitte nehmen Sie Kontakt zur Käuferin bzw. zum Käufer auf und besprechen Sie die Übergabe oder den Versand des Werkes.
|
| #{entry.buyerEmail}
| #{entry.buyerFullname}
| #{entry.buyerStreet}
| #{entry.buyerZipCode} #{entry.buyerCity}
|
| Bei Fragen wenden Sie sich gerne an info@kulturgenerator.de.
|
| Freundliche Grüße
| Ihr Team des Kulturgenerators